<div>
  <button ng-click="closechat(connected_user.sender)">Close Chat</button>
</div>
<div>
  <div ng-repeat="room in roomlist">
      <span ng-click="openroom(room.roomid)">{{room.online}} = {{room.roomid}} : {{room.name}} - {{room.last_msg}}</span><br>
  </div>
</div>
<div style="color: #000;">
  {{mynickname}}
  <div style="width: 300px;height: 350px;overflow: auto;background: #EEE;">
    <ul>
      <li ng-repeat="mess in messages">
         <div ng-if="mess.isfrom==mynickname" style="text-align:right;">  
            <div style="display: block;">
                 <span>{{mess.message}}</span> : <span>{{mess.isfrom}}</span>
            </div>
        </div>
        <div ng-if="mess.isfrom!=mynickname" style="text-align:left;">  
            <div style="display: block;">
                <span>{{mess.isfrom}}</span> : <span>{{mess.message}}</span>
            </div>
        </div>
      </li>
    </ul>  
  </div>
  <div>
    <input type="text" ng-model="msg" placeholder="message" />
    <input type="text" ng-model="send_to" placeholder="send To" />
    <button ng-click="sendMessage(msg,send_to)">Send</button>
  </div>
</div>